*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container{
  width: 100%;
  min-height: 100vh;
  background-color: #0b0423;
  display: flex;
  align-items: center;
  justify-content: center;

}
#left , #right{
   
    width: 300px;
    min-height: 400px;
    margin: 20px;
    border: 2px dashed #fff;
}
.list{
   background: #e91e63;
   height: 60px;
   margin: 30px;
   color: #fff;
   display: flex;
   align-items: center;
   cursor: grab;

}
.list img{
    width: 10px;
    margin-left: 10px;
    margin-right: 10px;
}