*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background: #26202f;
}
p{
    margin-bottom: 20px;
}
.contain{
    width: 350px;
    background-color: #fff;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
   text-align: center;
   padding: 30px;
   border-radius: 6px;
   
}
#input{
    width: 90%;
    padding: 12px;
    border: 1px solid #26202f;
    margin-bottom: 25px;
    border-radius: 6px;
}
button{
    width: 90%;
    padding: 12px;
    background-color: #0817f3;
    color: #fff;
    border: 0px;
    border-radius: 6px;
    cursor: pointer;
}
#qrImage{
    margin-bottom: 15px;
}
#imgBox{
    width: 200px;
    border-radius: 5px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;
   
}
#imgBox img{
    width: 100%;
    padding: 10px;
}
#imgBox.show-img{
    max-height: 300px;
    margin: 10px auto;
    border: 1px solid #d1d1d1;
} 
.error{
    animation: shake 0.1s linear 10;
}
@keyframes shake{
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(-2px);
    }
    50%{
        transform: translateX(0);
    }
    75%{
        transform: translateX(2px);
    }
    100%{
        transform: translateX(0);
    }
}